.profile {
    height: 100%;
    background: linear-gradient(to bottom, #2C3E50 50%, #F4F4F4 50%);
    border-radius: 4px;

    &__header {
        height: 80px;
        width: 100%;
        margin-left: 0px;
    
        &-icon {
            background-color: white;
            border-radius: 50px;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            padding-left: 7px;
            margin: 15px;
            margin-left: 15px;
            
        }
    }

    &__content {
        display: flex;
        justify-content: center;

        &__card {
            background-color: white;
            height: 600px;
            width: 1000px;
            border-radius: 6px;
            box-shadow: 0 0 6px #87868A;
            display: flex;
            flex-direction: column;

            &-header {
                background-color: #F2F2F2;
                height: 200px;
                width: 100%;
                border-bottom: 2px solid #DFDFDF;
            }

            &-info {
                height: 150px;
                margin-top: 100px;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &-title {
                    color: #9B9B9B;
                    font-weight: 500;
                    font-size: 20px;
                }

                &-subtitle {
                    font-size: 40px;
                    font-weight: bold;
                    color: #4E4E4E;
                }
            }

            &-icons {
                height: 150px;
                align-items: center;
                justify-content: center;
                cursor: default;

                &-size {
                    font-size: 50px;
                }
            }

            &__user {
                background-color: white;
                height: 250px;
                width: 250px;
                align-self: center;
                position: absolute;
                margin-top: 65px;
                border-radius: 140px;
                border: 2px solid #BDBDBD;
                display: flex;
                justify-content: center;

                &-image {
                    align-self: center;

                    &-size {
                        align-self: center;
                        height: 235px;
                        border-radius: 140px;
                    }
                }
            }

        }
    }
}

.go-back {
    color: 2C3E50;
    align-self: center;
    cursor: pointer;
    font-size: 18px;
}