<div class="profile justify-content-center align-items-center">
  <div class="profile__header row">
    <div class="profile__header-icon">
      <i
      class="material-icons go-back"
      [routerLink]="'/everyone'"
      >arrow_back_ios</i>
    </div>
  </div>
  <div class="profile__content">
    <div class="profile__content__card">
      <div class="profile__content__card-header"></div>
      <div class="profile__content__card-info row no-gutters">
        footer
      </div>
      <div class="profile__content__card-icons row no-gutters">
          <i class="material-icons icons">arrow_back_ios</i>
          <i class="material-icons icons">arrow_back_ios</i>
          <i class="material-icons icons">arrow_back_ios</i>
          <i class="material-icons icons">arrow_back_ios</i>
          <i class="material-icons icons">arrow_back_ios</i>
          <i class="far fa-user"></i>
      </div>
      <div class="profile__content__card__user">
        <div class="profile__content__card__user-image">
          imagem aqui
        </div>
      </div>
    </div>
  </div>
</div>