<div class="profile justify-content-center align-items-center">
  <div class="profile__header row">
    <div class="profile__header-icon">
      <i
      class="material-icons go-back"
      [routerLink]="'/everyone'"
      >arrow_back_ios</i>
    </div>
  </div>
  <div class="profile__content">
    <div class="profile__content__card">
      <div class="profile__content__card-header"></div>
        <div class="profile__content__card-info row no-gutters" *ngFor="let user of userInfo" [hidden]="icon != user?.info">
          <div class="profile__content__card-info-title pt-4">
            {{ user?.title }}
          </div>
          <div class="profile__content__card-info-subtitle">
            {{ user?.subtitle }}
          </div>
        </div>
        <div class="profile__content__card-icons row no-gutters">
          <i
            class="profile__content__card-icons-size material-icons pr-5"
            (mouseover)="setIcon(user.info)"
            [class.profile__content__card-icons-size-active]="icon == user?.info"
            *ngFor="let user of userInfo"
          >
            {{ user?.icon }}
          </i>
        </div>
      <div class="profile__content__card__user">
        <div class="profile__content__card__user-image">
        <img src="{{ user?.picture.large }}" class="profile__content__card__user-image-size">
        </div>
      </div>
    </div>
  </div>
</div>