.users {
    margin: 15px;
    border: solid 1px #E0E0E0;
    border-radius: 5px 5px 0px 0px;

    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 5px 5px 0px 0px;
        border-bottom: solid 2px #E0E0E0;
        height: 115px;;
    }
    
    &__pictures {
        border-radius: 100px;
        padding: 20px;
    }
}

.material-icons {
    color: #ababab;
    cursor: pointer;

    &:hover {
        border-radius: 100%;
        color: #B3C02B;

    }
}