<div class="nav d-flex mt-3 ml-3">
    <div >
        <a [routerLink]="'/everyone'" routerLinkActive="nav__sections__active">
            <span class="nav__sections d-flex mb-3">
                <i class="material-icons mr-2">apps</i>
                {{'SIDE_BAR_MENU.ALL' | translate }}
            </span>
        </a>
    </div>
    <div>
        <a [routerLink]="'/attended'" routerLinkActive="nav__sections__active">
            <span class="nav__sections d-flex mb-3">
                <i class="material-icons mr-2">check</i>
                {{'SIDE_BAR_MENU.ATTENDED' | translate }}
            </span>
        </a>
    </div>
    <div>
        <a [routerLink]="'/trash'" routerLinkActive="nav__sections__active">
            <span class="nav__sections d-flex mb-3">
                <i class="material-icons mr-2">delete</i>
                {{'SIDE_BAR_MENU.TRASH' | translate }}                
            </span>
        </a>
    </div>
</div>