.nav {
    flex-direction: column;

    &__sections {
        cursor: pointer;

        &__active {
            color: #B3C02B;
        }
    }
}

a {
    color: #87868A;
}

a:hover {
	text-decoration: none; 
	color: #B3C02B;
}