<div class="nav d-flex mt-3 ml-3">
    <div >
        <a [routerLink]="'/everyone'" routerLinkActive="nav__sections__active">
            <span class="nav__sections d-flex mb-3">
                    <i class="material-icons mr-2">apps</i>
                    Todos
            </span>
        </a>
    </div>
    <div>
        <a [routerLink]="'/attended'" routerLinkActive="nav__sections__active">
            <span class="nav__sections d-flex mb-3">
                <i class="material-icons mr-2">check</i>
                Atendidos
            </span>
        </a>
    </div>
    <div>
        <a [routerLink]="'/trash'" routerLinkActive="nav__sections__active">
        <span class="nav__sections d-flex mb-3">
            <i class="material-icons mr-2">delete</i>
            Lixeira
        </span>
        </a>
    </div>
</div>