.nav {
    flex-direction: column;

    &__sections {
        cursor: pointer;

        &__active {
            color: red;
        }
    }
}

.material-icons {
    color: #87868A;
}

.active {
    
}