.header {
    background-color: #013750;
    // height: 100px;

    &__search {

    }

    &__image {
        height: 80px;
    }

    &__user {
        height: 50px;
    }
}

.form-control {
    border-radius: 3rem;
}