<header class="header row d-flex align-items-center">
    <div class="col-2 d-flex justify-content-center">
      <img class="header__image" src="https://media.licdn.com/dms/image/C4D0BAQGix57_gZrbxA/company-logo_200_200/0?e=2159024400&v=beta&t=y_FHSnVJE6ThjBQJZ5fyFlm6XolJsMstHjNP0ySZ9EM">
    </div>
    <div class="header__search col-9">
      <i class="material-icons search_icon">search</i>
      <input type="text" class="form-control pl-5" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="header__user d-flex col-1">
      <i class="material-icons">supervised_user_circle</i>
    </div>
</header>