.header {
    background-color: #013750;
    box-shadow: 0 5px 10px -5px #333333;

    &__search {

    }

    &__image {
        height: 80px;
    }

    &__user {
        color: white !important;
        align-items: center;
        justify-content: flex-end;
        padding-right: 50px;
    }
}

.form-control {
    border-radius: 3rem;
}

.material-icons {
    font-size: 35px;
}

.search_icon {
    color: #B4C12C;
    position: absolute;
    font-size: 25px;
    padding: 8px 0px 0px 12px;
}